body{
        margin-left: 0 !important;
    margin-right: 0 !important;
        width: 99.9% !important;
}
.list{
    text-decoration: none !important;
    color: black !important;
    font-style: normal;
}
.list:hover{
    text-decoration: none;

}
.list-container:hover {
    background-color:#eee;
    transition:0.1s;
}
.list-container {
    text-align: center;
    /* margin-top: 15px; */
    font-family: Montserrat;
    height: 80px;
}
.list-title {
    font-size: 17px;
    line-height: 51px;
    text-transform: uppercase;
}
.list-description {
    color: #404040;
    font-size: 12px;
    line-height: 12px;
}
.menu-cell {
    /* border-bottom: 1px solid black; */
    /* border-top: 1px solid black; */
    border-collapse: collapse;
    width: 50%;
}
.menu-table {
    border-collapse: collapse;
    width: 100%;
}
.menuplaintable{
    width:100%;
}

#course_pool{
        width: 50%;
        resize: none;
        left: 25%;
        z-index: auto;
        position: relative;
        line-height: normal;
        font-size: 14.4px;
        transition: none;
        padding: 2px;
        border: 1px solid rgba(0, 0, 0, 0);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
#course_pool:hover{
    /*box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);*/
    }

body ul {
    left: 25% !important;
    top: 320px !important;
    width: calc(50% + 7px);
    background-color: rgb(255, 255, 255);
    /* border: 1px solid rgba(0, 0, 0, 0); */
    padding: 2px;
    vertical-align: top;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    /* margin-top: 0; */
    padding: 0;
}

body ul:hover{
    /*box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);*/
}
.hover-over-boxshadow{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
body ul li{

}
body ul li.active{
        background-color: #eee;
        cursor: default;
}
body ul a:hover{
    color:black;
    text-decoration: none;
}
.dropdown-menu li {
    list-style-type: none;
    padding: 2px;
    border: 1px solid rgba(255, 255, 255, 0);
    padding-left: 10px;
}

.textcomplete-header{
    display: none;
    /* visibility: hidden; */
    height: 0;
}
.textcomplete-footer{
    display:none;
}

#course_pool_confirm{
    width: 50px;
    height: 50px;
    background: #4285f4;
    border-radius: 100px;
    top: 262px;
    /*right: -20%;*/
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    
    border:none;
    position: absolute !important;
    outline: none;
}
#course_pool_confirm:focus {
    outline: none;
    
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
#course_pool_confirm img{
        width: 90%;
    height: auto;
    /* color: black; */
    /*filter: invert();*/
}

#loading_bar_container{
    width:50%;
    position: relative;
    left:25%;
    height:5px;
}
#loading_bar_container div{
background-color: green;
height:100%;

    }

#result_modal_table
{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
#result_modal_table td
{
    border: 1px solid gainsboro;
    /* padding: 10px; */
}
.modal-cell{
    font-family: montserrat;
    /* vertical-align: middle; */
    /* padding-top: 10px; */
    color: black;
}
.modal-course-id{
    font-weight: bold;
    font-size: 13px;
    /* line-height: 13px; */
    margin-top: 6px;
    margin-bottom: 6px;
    opacity: inherit;
    background-color: #eee;
    width: 60px;
    padding: 4px;
    border-radius: 1000px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    margin-left: calc(50% - 31px);
}
.modal-course-id:hover{
    cursor: pointer;
    }
.modal-course-id-selected{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background-color: #4285f4;
    color:white;
}
.modal-course-name{font-weight: bold;font-size: 15px;line-height: 15px;margin-top: 0px; margin-bottom: 2px; opacity: inherit;}
.modal-course-name a{
    text-decoration: none;
    color:black !important;
}
.modal-course-name a:visited{
    cursor:pointer;
    text-decoration: none;
    color:black !important;
}
.modal-course-name a:active{
    cursor:pointer;
    text-decoration: none;
    color:black !important;
}
.modal-course-name a:hover{
    cursor:pointer;
    text-decoration: underline;
}
.modal-course-info1{

font-size: 13px;

display: inline-block;
}
.modal-course-info2{
    
font-size: 13px;
    
display: inline-block;
    
margin-bottom: 10px;
}
.modal-course-title{
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    height: 100px;
}
.modal-course-disabled{
    opacity: 0.3;    
}
#btn_export{
        width: 50px;
        height: 50px;
        background: #4285f4;
        border-radius: 100px;
        bottom: 25px;
        right: 45px;
        box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
        /* box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08); */
        border:none;
        position: absolute !important;
        /* margin-top: 34px; */
        /* float: right; */
        outline: none;
}
#btn_export:focus{
    
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    outline: none;
}
#btn_export img{
    width: 90%;
    height: auto;
}
.modal-legend {
    background-color: #eee;
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: -14px;
    padding-top: 4px;
}
.modal-legend-title{
    text-align: center;
}
#cceasier-tool{
    margin-bottom:50px;
}
.course-select{

}
.remodal {
        min-width: 700px;
    max-width: 80%;
}
.remodal .remodal-is-opened{
        max-width: 80% !important;
    min-width: 700px !important;
}