.lbl {
  position: relative;
  display: block;
  height: 15px;
  width: 45px;
  background: #898989;
  border-radius: 10000px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.lbl:after {
  position: absolute;
  left: -1px;
  top: -1px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10000px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  content: '';
  transition: all 0.3s ease;
}

.lbl:active:after { transform: scale(1.15, 0.85); }

.cbx:checked ~ label { background: #6fbeb5; }

.cbx:checked ~ label:after {
  left: 22.5px;
  background: #179588;
}

.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}

.cbx:disabled ~ label:after { background: #bcbdbc; }

.hidden { display: none; }